html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Instrument Sans', sans-serif;
  }

header {
  position: fixed;             
  top: 0;                      
  left: 0;
  width: 100%;                 
  z-index: 20;                 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: #fff;      
  color: #000;                 
  mix-blend-mode: normal;      
}

header a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

header a:hover {
  color: #888;
  transition: color 0.2s;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 30px;
}
  
main {
    display: grid;
    grid-template-columns: 1.8fr 0.5fr 1fr;
    gap: 42px;
    align-items: flex-start;
    margin-top: 84px;
    margin-left: 20px;
    margin-right: 20px;
    /* min-height: 82vh; */
  }
  
.col {
    font-size: 14px;
  }

.bio { 
  margin-right: 90px; 
}

.bio-photo { display: none; }
  
.bio p {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 610px;
    line-height: 28px;
    font-size: 20px;
  }

.cursor-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; /* size of the floating image */
  height: auto;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 999;
  border-radius: 6px;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.links li {
    margin-bottom: 6px;
  }
.links a {
    color: #000000;
    text-decoration: none;
  }
.links a:hover {
    text-decoration: underline;
  }
  
.experience {
    max-width: 180px;
}

.section-title {
    margin-bottom: 20px;
    margin-top: 0;
  }
.exp-block {
    margin-bottom: 20px;
  }
  
footer {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 14px;
  }

  
  @media (max-width: 780px) {
    main {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .bio {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
    }

    .cursor-photo {
      order: -1; 
      max-width: 50%;      
      margin-bottom: 20px;
      align-items: center;
      text-align: left;
    }

    .bio-photo {
      display: block;
      order: -1;
      max-width: 100%;
      width: 50%;
      height: auto;
      border-radius: 6px;
      margin-bottom: 20px;
    }

    .cursor-photo { display: none; }
  }